<header id="header">
  <div class="logo">
    <a><img class="img" src="assets/logo.png" alt="logo"></a>
    <p>PostNetQuote</p>
  </div>
  <nav id="menu">
    <ul>
      <li><a href="#"><img class="icon-menu" src="assets/icon-menu.png" alt="icon-menu"></a></li>
      <li><a href="#">Explorar Proyectos</a></li>
      <li><a href="#">Solicitar Instalación</a></li>
      <li><a href="#"><div style="padding-right: 2px" style="text-align: left">Inicio</div></a></li>
      <li><a href="#">Proyectos Destacados</a></li>
      <li><a href="#">Salir</a></li>
    </ul>
  </nav>
</header>
