.footer {
  background-color: black;
  padding-top: 5px;
  padding-bottom: 2rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.text {
  padding-top: 30px;
  text-align: left;
  color: gray;
  padding-left: 2rem;
  font-size: 20px;
  max-width: 400px;
}

.logo {
  display: flex;
  width: 220px;
  justify-content: start;
}

.logo img {
  width: 300px;
  height: auto;
}

.social-icons {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: right;
  margin-right: 1rem;
  color: white;
  width: 200px;
  padding-left: calc(45%);
}

.social-icons a {
  color: white;
  font-size: 40px;
  margin-right: 1rem;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: auto;
}
