<footer class="footer">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <div class="logo">
    <img src="assets/logo-dark-100.png" alt="logo">
  </div>
  <div class="text">
    <p>© 2024 PostNetQuote. Todos los derechos
      reservados. Todas las marcas pertenecen a
      sus respectivos dueños en EE.UU. y el resto
      del mundo.</p>
  </div>
  <div class="social-icons">
    <h2>Contactanos</h2>
    <div class="icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer>
