<footer class="footer">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <div class="text">
    <p>2024 PostNetQuote. Todos los derechos</p>
    <p>reservados. Todas las marcas pertenecen a</p>
    <p>sus respectivos dueños en EE.UU. y el resto</p>
    <p>del mundo.</p>
  </div>
  <div class="social-icons">
    <p>Contactanos</p>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
</footer>
