bodoy, html{
  height: auto;
  margin: 0;
}

body {
  position: relative;
}

.main-container {
  display: flex;
  min-height: 100vh;
  height: auto;
  background-color: honeydew;
  z-index: 1;
}

.sidenav-container {
  height: auto;
  display: flex;
  justify-content: space-around;
}

.profile-container {
  display: flex;
  flex-grow: 1;
  margin-top: 30px;
  margin-left: 120px;
  margin-bottom: 50px;
}

.project-container {
  display: flex;
  flex-grow: 1;
  margin-top: 30px;
  margin-right: 120px;
  margin-bottom: 50px;
}

.support-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  width: auto;
  height: 50px;
}

.footer-container {
  min-height: 50px;
  position: relative;
  z-index: 1;
}
