<mat-card class="card">
  <mat-card-header style="justify-content: center">
    <mat-card-title style="color: blue">Tus Proyectos</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="card-content">
    <mat-card class="card-project">
      <mat-card-content>
        <mat-card-title>Plataforma de Correo Electrónico</mat-card-title>
        <p></p>
        <mat-card-subtitle style="text-align: start; font-size: 14px; color: blue;">A esperar del desarrollador</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
    <p></p>
    <mat-card class="card-project">
      <mat-card-content>
        <mat-card-title></mat-card-title>
        <p></p>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-content>
    </mat-card>
    <p></p>
    <mat-card class="card-project">
      <mat-card-content>
        <mat-card-title></mat-card-title>
        <p></p>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-content>
    </mat-card>
    <p></p>
    <mat-card class="card-project">
      <mat-card-content>
        <mat-card-title></mat-card-title>
        <p></p>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-content>
    </mat-card>
    <p></p>
    <mat-card class="card-project">
      <mat-card-content>
        <mat-card-title></mat-card-title>
        <p></p>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-content>
    </mat-card>
    <p></p>
  </mat-card-content>
</mat-card>
