<mat-card class="profile-card">
  <mat-card-header>
    <div mat-card-avatar class="profile-image"></div>
    <h1 style="align-items: center; font-size: 30px;">Carlos Villanueva</h1>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-card-title>Resumen</mat-card-title>
    <p>Carlos desea instalación de postes en el distrito de San Juan de Miraflores
      en la residencial San Felipe por un proyecto de mejorar la iluminación de su residencial.</p>
    <p></p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form class="form">
      <mat-form-field class="full-width">
        <span matTextPrefix>Documento &nbsp; &nbsp;</span>
        <input type="doc" matInput placeholder="68763169">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form class="form">
      <mat-form-field class="full-width">
        <span matTextPrefix>Teléfono &nbsp; &nbsp;</span>
        <input type="phone" matInput placeholder="924 830 455">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form class="form">
      <mat-form-field class="full-width">
        <span matTextPrefix>Correo &nbsp; &nbsp;</span>
        <input type="email" matInput placeholder="cvillanueva16@gmail.com">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form class="form">
      <mat-form-field class="full-width">
        <span matTextPrefix>Departamento &nbsp; &nbsp;</span>
        <input type="department" matInput placeholder="Lima">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form class="form">
      <mat-form-field class="full-width">
        <span matTextPrefix>Distrito &nbsp; &nbsp;</span>
        <input type="district" matInput placeholder="San Juan de Miraflores">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form class="form">
      <mat-form-field class="full-width">
        <span matTextPrefix>Residencial &nbsp; &nbsp;</span>
        <input type="residential" matInput placeholder="San Felipe">
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
