.profile-card {
  max-width: 400px;
  height: auto;
}

.profile-image {
  width: 80px;
  height: 80px;
  background-image: url("/assets/icon-profile.png");
  background-size: cover;
}

.form {
  display: flex;
  margin-top: 10px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background-color: white;
}

.full-width {
  display: flex;
  align-items: center;
  width: 100%;
}

