<mat-card class="profile-card">
  <mat-card-header>
    <div mat-card-avatar class="profile-image"></div>
    <h1 style="align-items: center; font-size: 30px;">&nbsp;Nombre y Apellido</h1>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>Resumen</p>
    <p>Texto Ejemplo</p>
    <p></p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>Documento</p>
    <p>Texto Ejemplo</p>
    <p></p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>Telefono</p>
    <p>Texto Ejemplo</p>
    <p></p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>Correo</p>
    <p>Texto Ejemplo</p>
    <p></p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>Departamento</p>
    <p>Texto Ejemplo</p>
    <p></p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>Distrito</p>
    <p>Texto Ejemplo</p>
    <p></p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>Residencial</p>
    <p>Texto Ejemplo</p>
    <p></p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
