<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="header">
      <button class="left-icon"><img src="assets/icon-profile.png" alt="icon-profile"></button>
      <button class="right-icon" (click)="drawer.toggle()"><img src="assets/icon-menu.png" alt="icon-menu"></button>
    </div>
    <mat-divider></mat-divider>
    <div class="container-buttons" style="padding-top: 20px">
      <div>
        <img src="assets/icon-search.png" alt="icon-search">
        <a href="#"><button class="button">Explorar Proyectos</button></a>
      </div>
      <div>
        <img src="assets/icon-instalation.png" alt="icon-installation">
        <a href="#"><button class="button">Solicitar Instalación</button></a>
      </div>
      <div>
        <img src="assets/logo.png" alt="icon-inicio">
        <a href="#"><button class="button">Inicio</button></a>
      </div>
      <div>
        <img src="assets/icon-featureds.png" alt="icon-featured">
        <a href="#"><button class="button">Proyectos Destacados</button></a>
      </div>
      <div>
        <img src="assets/icon-logout.png" alt="icon-logout">
        <a href="#"><button class="button">Salir</button></a>
      </div>
    </div>
  </mat-drawer>
  <div class="sidenav-pre-content">
    <button class="button" (click)="drawer.toggle()"><img src="assets/icon-menu.png" alt="icon-menu-pre"></button>
    <mat-divider></mat-divider>
    <div class="container-images">
      <img src="assets/icon-search.png" alt="icon-search">
      <img src="assets/icon-instalation.png" alt="icon-installation">
      <img src="assets/logo.png" alt="icon-inicio">
      <img src="assets/icon-featureds.png" alt="icon-featured">
      <img src="assets/icon-logout.png" alt="icon-logout">
    </div>
  </div>
</mat-drawer-container>
